.DS_Store
.DS_Store?
**/.DS_Store
._*
*.idea*
.Spotlight-V100
.Trashes
*.xml
*.iml
*.pyc
ehthumbs.db
Thumbs.db
__pycache__
*.pth
.vscode
.ipynb_checkpoints
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*-py
*tar*
*.gz